body {
  /* bg+ */
  background: #fff url() 0 0 no-repeat;

  /* bd+ */
  border: 1px solid #000;

  /* bdt+ */
  border-top: 1px solid #000;

  /* bgi */
  background-image: url();

  /* bd:n */
  border: none;

  /* p10em */
  padding: 10em;

  /* p10-10-10-10 */
  padding: 10px 10px 10px 10px;
}
